<div class="container">
  <h1>View Post of <b><%= @post.title %>!</b></h1>
    <p>
      Title: <%= p @post.title %><br>
      Description: <%= p @post.description %><br>
      Email: <%= p @post.email %><br>
      Price: <%= p @post.price %><br>
      Key: <%= p @post.key %><br>
    <!--   <form action="/posts" method="patch">
      <input type="submit" value="Edit">
      </form> -->
    </p>
<div>
<!--
<p>URL parameters:</p>
<%= params %> -->